.services{
    padding: 0 3rem;
    display: flex;
    height: 110vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
}

.awesome{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
}
.awesome :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome :nth-child(2){
    color: var(--crimson);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome :nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}
.s-button{
    text-decoration: none;
    width: 5rem;
    height: 1rem;
    margin-top: 1rem;
}

.s-blur1{
    top: 15rem;
    left: -14rem;
}

.s-blur2{
    left: -5rem;
    top: -7rem;
}

.cards{
    position: relative;
    flex: 1;
}
.cards >*{
    position: absolute;
}